@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.harf {
    width: 80px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30pt;
}